@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:ital,wght@0,300;0,600;0,400;1,400&display=swap');

@font-face {
  font-family: "Rubik-fallback";
  src: local(Arial);
  ascent-override: 93.5%;
  descent-override: 25%;
  line-gap-override: 0%;
}

:root {
  --button-border-color: #333;
  --input-border-color: #808080;
  --bg-color: #fafafa;
  --odd-rows-color: #efefef;
  --hover-row-color: #e6e6e6;
  --remove-color: #d22626;
  --remove-bg-color: rgba(210, 38, 38, 0.05);
  --border-width: 0.0625rem;
  --input-border-width: 0.125rem;
}

html,
body {
  font-family: "Rubik", "Rubik-fallback", sans-serif;
  height: 100%;
  font-weight: 300;
}

body {
  background-color: var(--bg-color);
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

a, a:visited {
  color: #0060a0;
}

a:hover {
  color: #398dc5;
}